<header>
    <h1>RoboOLX</h1>
    <h5>
        <% if (new Date().getHours() < 12) { -%>
            Good Morning
            <% } else if (new Date().getHours() < 18) { -%>
                Good Afternoon
                <% } else { -%>
                    Good Evening
                    <% } %>
    </h5>
</header>